# 1. Python temporary/cache files
__pycache__/
*.py[cod]
*$py.class

# 2. Virtual environments
venv/
.venv/
env/

# 3. Datasets
data/
datasets/
*.csv
*.zip
*.tar.gz

# 4. Trained model weights
*.pth
*.h5
*.pkl
checkpoint/

# 5. IDE specific settings
.vscode/
.idea/

# 6. Environment variables
.env